body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: black;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}

.login-container, .app-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    background-color: red;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: darkred;
}

.modo-noturno {
    background-color: black;
    color: white;
}

@media screen and (max-width: 600px) {
    .app-container {
        width: 90%;
    }
}
